body {
    background-color: #fefe;
}

section {
    background-color: #E8C547;
}

h1 {
    color: #06D6A0;
}

h2 {
    color: #1460aa;
}

h3 {
    color: #EF476F;
}

p {
    color: #080708;
}

.section-header {
    font-size: 32px;
    background-color: tomato;
}

.article-header {
    font-size: 24px;
    background-color: #06D6A0;
}